Veneratori del Dio Perfetto che ha la forma di una ciambella, Sono i cittadini del [Circulus Ciambellista](/storia/fazioni/Circulus%20Ciambellista), possessori esclusivi della [Carbite]().
![Ciambellisti](/images/ciambellisti.png)